html, body{
    overflow-x: hidden;
}


*{
    font-family: 'Nunito Sans', sans-serif;
}

.lock-scroll{
    overflow: hidden;
}


body.overflow-hidden{
    overflow: hidden;
}

.nav{
    display: flex;
    z-index: 9999;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;
    border-bottom: 1px solid white;
}

.fixed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    height: 80px;
    border-bottom: 1px solid gray;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.logo{
    max-height: 220px;
    max-width: 220px;
}

.menu-items{
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.menu-items a{
    text-decoration: none;
    position: relative;
    color: #264068;
}

.menu-items a:hover{
    cursor: pointer;
    transition: 1.2s;
}
  
.menu-items a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
.menu-items a:hover::after {
    transform: scaleX(1);
}

.pageLink{
    text-decoration: none;
    position: relative;
    color: #264068;
}

.pageLink:hover{
    cursor: pointer;
    transition: 1.2s;
}

.pageLink::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.pageLink:hover::after{
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    z-index: 9999;
}
  
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    border-top: none;
    z-index: 9999;
    width:max-content;
}
  
.dropdown:hover .submenu {
    display: block;
    z-index: 9999;
}

.dropdown:hover p{
    cursor: pointer;
}
  
.submenu li {
    padding: 8px;
}
  
.submenu li:hover {
    background-color: #f1f1f1;
}

.arrow{
    color: #264068;
}
  
.arrow::after {
    content: "\25BC";
    margin-left: 5px;
}

.arrow li{
    position: relative;
}

.arrow li::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-right: 2px solid #000; /* Set your desired arrow color */
  border-bottom: 2px solid #000; /* Set your desired arrow color */
  transform: rotate(45deg);
}

.list-cta{
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
    background-color: #264068;
    color: white;
    font-weight: bold
}

.list-cta:hover{
    cursor: pointer;
    background-color: #BBA14F;
    border-color: #BBA14F;
    transition: 1.2s;
}

/*Optimize navbar for tablets and mobile*/

.menu-style{
    padding-bottom: 40px;
}

.menu-style a{
    color: #264068;
    text-decoration: none;
}

.parent-mobile-cta{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.mobile-cta{
    color: white;
    background-color: #264068;
    border: 1px solid #264068;
    border-radius: 4px;
    width: 80%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-cta:hover{
    cursor: pointer;
}


@media (width: 768px){
    
}

/************************************End of Navbar CSS****************************************/


/************************************Start of Hero CSS******************************************/


.hero{
    position: relative;
    background-image: var(--backgroundImage) ;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    z-index: 999;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    margin: 0;
    color: white;
}

.btn-row{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-choice{
    padding: 24px;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    background: none;
}




.button-pop{
    animation:  buttonPop 1.0s;
}

@keyframes buttonPop {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  

.btn-choice:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 1.2s;
}

.btn-logo{
    height: 16px;
    width: 16px;
}




.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #264068;
    border-radius: 50px;
    margin-top: 12px;
    padding-top: 0;
    max-height: 80px;
    background-color: white;
    overflow: hidden;
    position: relative;
  }

.form-option{
    display: flex;
}

.form-area{
    display: flex;
    flex-grow: 1;
    text-align: center;
    -webkit-appearance:none;
    -moz-appearance:    none;
    appearance: none;
    position: relative;
}

.style-suggestions{
    display: flex;
    width: 100px;
}

/*.custom-suggestions-box {
    width: calc(100% - 24px); /* Subtracting the padding and border of the form-container */
 /* }*/



#popper-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 10vh;
}

#suggest-container{
    position: absolute;
    z-index: 9999;
}

  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border: none;
    justify-content: center;
    width: 100%;
    font-size: 1.2em;
    outline: none;
    resize: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none;
  }

  input{
    padding: 5px;
    /*border: 1px solid black;*/
    border: none;
    justify-content: center;
    width: 300px;
    font-size: 1.2em;
    outline: none;
    resize: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none;
    position: relative;
  }

  @media(max-width: 768px){
    input{
        padding: 5px;
        border: 1px solid black;
        border: none;
        justify-content: center;
        width: 180px;
        font-size: 1.2em;
        outline: none;
        resize: none;
        overflow: hidden;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance: none;
        position: relative;
      }  
  }

  select{
    padding: 24px;
    border: none;
    margin: auto;
    font-size: 1.2em;
    outline: none;
    background-color: white;
    color: #264068;
    -webkit-appearance:none;
    -moz-appearance:    none;
    appearance: none;
  }

  .hero-suggestions{
    max-width: 100%;
    max-height: 50px;
  }

  @media(max-width: 768px){
    .hero-suggestions{
        width: 60px;
        max-height: 50px;
      }   
  }

  .select-material{
        border: none;
  }
  
.search {
    height: 50px;
    width: 50px;
    margin-right: 8px;
    font-size: 1.2em;
    border: 1px solid #264068;
    border-radius: 50%;
    color: white;
    background-color: #264068;
    z-index: 5;
  }

  .search-material{
    height: 50px;
    width: 20px;
    margin-right: 8px;
  }

  .search:hover{
    cursor: pointer;
    background-color: #BBA14F;
    border-color: #BBA14F;
    transition: 1.2s;
  }


  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #264068;
    border-radius: 50%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .chat-icon img{
    height: 30px;
    width: 30px;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .my-form{
    z-index: 999;
  }

  .my-hero{
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/****************Optimize for Smaller Screens****************************8*/
@media (max-width: 576px){
    .title{
        color: white;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        font-size: small;
    }

    .btn-row{
        padding-top: 10px;
        margin: 12px;
    }
    
    .btn-choice{
        padding: 8px;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        background: none;
    }

    .form-container{
        margin: 12px;
    }


}

@media (max-width: 1000px){
    .btn-choice{
        padding: 8px;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        background: none;
    }

}

/*material ui styling*/
.mobile-menu {
    /* Other styles for the menu */
    display: none; /* Initially hide the menu */
    position: absolute;
    top: 100%; /* Position the menu below the navbar */
    left: 0;
    color: #264068;
  }
  
  .mobile-menu-visible {
    display: block; /* Display the menu when it is visible */
    
    /* Other necessary styles */
  }
  


/**********************/
@media (max-width: 900px){
    .btn-choice{
        padding: 8px;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        background: none;
    }

    .nav{
        justify-content: space-between;
        position: fixed;
        z-index: 9999;
        background-color: white;
    }

    .menu-items.open {
        height: auto;
    }

    


    .menu-items{
        position: fixed;
        top: 9%;
        right: 0;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 4px;
        z-index: 9999;
        width: 80vw;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: 40px;
    }

    .menu-items li {
        border-bottom: 1px solid #ccc;
        
    }

    .list-cta li{
        border: none;
    }


    .menu-items.open {
        display: flex;
        
    }

    .menu-toggle{
        display: block;
        cursor: pointer;
        padding: 12px;
    }

    .arrow{
        cursor: pointer;
    }

    .mobile-sub{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 12px;
        align-items: center;
        padding-left: 12px;
        padding-bottom: 12px;
    }
}


/************************************End of hero CSS***********************************/


/************************************Start of listing CSS*****************************************/

.listing-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listing-row{
    display: flex;
    gap: 16px;
    padding: 20px;
}

.listing-btn{
    padding: 24px;
    border: 1px solid #264068;
    border-radius: 12px;
    background: none;
    color: #264068;
}

.listing-btn:hover{
    cursor: pointer;
    background-color: #ffd700;
    border-color: #ffd700;
    transition: 1.2s;
}

.card-carousel-wrap{
    position: relative;
    margin: 12px;
}

.card-carousel{
    border: 1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    height: 500px;
    width: 100vw; 
    position: relative;
}

.card-carousel::-webkit-scrollbar{
    display: none;
}

.card-parent{
    display: flex;
    align-items: center;
}

.card{
    display: flex;
    /*flex-wrap: wrap;*/ 
    justify-content: space-between;
    position: relative;
}

.back-scroll{
    position: absolute; 
    display: flex;
    align-items: center;
    /*height: 100%;*/
    top: 40%;
}


.forward-scroll{
    display: flex;
    align-items: center;
    position: absolute; 
    right: 0;
    top: 40%;
    /*transform: translateY(-80%);*/
}

.backward{
    display: flex;
    align-items: center;
    /*position: absolute;*/ 
}

.forward{
    display: flex;
    align-items: center;
}

/*Design of listings component for tablet*/

.card-carousel-wrap-tablet{
    position: relative;
}

.card-carousel-tablet{
    position: relative;
    margin: 24px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.card-carousel-tablet::-webkit-scrollbar{
    display: none;
}

.card-tablet{
    display: flex;
    gap: 12px;
}

.card-carousel-mobile{
    position: relative;
    margin: 24px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.card-carousel-mobile::-webkit-scrollbar{
    display: none;
}

.card-parent-mobile{
    display: flex;
}

.card-mobile{
    display: flex;
    gap: 12px;
}

.card-container{
    position: relative;
    border: 1px solid #264068;
    border-radius: 8px;
    height: 400px;
    width: 350px;
    margin: 24px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-container:hover{
    cursor: pointer;
    transform: rotate(3deg);
    box-shadow: 2px 2px 4px #c4d2e6;
    transition: 0.2s;
}

.img-container{
    width: 350px;
    height: 200px;
    overflow: hidden;
}

.house-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location{
    margin: 12px;
}

.feature{
    display: flex;
    margin: 12px;
    padding-top: 38px;
    font-weight: lighter;
    align-items: center;
}

.description{
    margin: 12px;
}

.price{
    margin: 12px;
    padding-top: 4px;
}

.heart{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    z-index: 3;
}

@keyframes cardBounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .card-container.card-bounce {
    animation: cardBounce 0.5s ease-in-out;
  }
  


/*****************Optimize for smaller screens*****************/

@media (max-width: 768px)  {
    .card {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        margin: 24px !important;
        
    }


}

/*********************Mapping Style***********************/

.buy{
    margin-top: 24px;
}


.map-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 24px;
    position: relative;
    padding-bottom: 12px;
    gap: 12px;
}

.map-form-mobile{
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
    gap: 12px;
    position: sticky;
}

.region{
    display: flex;
    align-items: center;
    position: relative;
}

.list-dropdown{
    position: absolute;
    z-index: 50;
}

.map-container{
    width: 50vw;
    height: 100vh;
}

.map-container-mobile{
    width: 100vw;
    height: 100vh;
}

.map-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*************************Listings wide screen version*************************/
.list-container-complete{
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid white;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /*overflow-y: scroll;*/   
}

@media (min-width: 1030px){
.property-list-large{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*margin: 12px;*/
    grid-gap: 24px;
    
}
}

@media (max-width: 1028px){
    .property-list-large{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width: 1100px){
.property-list-mobile{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 12px;
    grid-gap: 30px;
}
}

@media (min-width: 780px) and (max-width: 1099px){
    .property-list-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        /*grid-template-columns: repeat(3, 1fr);
        margin-left: 12px;
        grid-gap: 30px; */
    }
}



/******************************************************************************/

/******************************************************************/

.orient-left-half{
    border: 1px solid white;
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;
    /*margin-right: auto;*/
}

.orient-left-full{
    position: absolute;
    border: 1px solid white;
    /*height: 100vh;*/
    width: 100vw; 
    background-color: white;
    z-index: 15;
}

.orient-mobile{
    /*position: absolute;*/
    border: 1px solid white;
    /*height: 100vh;*/
    width: 100vw; 
    background-color: white;
    z-index: 4000;
}

.orient-right-half{
    border: 1px solid white;
    height: 100vh;
    width: 50vw;
    
    /*margin-left: auto;
    
    justify-content: flex-end;*/
}


.list-container{
    /*position: absolute;*/
    /*top: 0;
    left: 0; */
    z-index: 1;
    border: 1px solid black;
    border-radius: 0px 0px 12px 0px;
    background-color: black;
    width: 50vw;
    height: 100%;
    /*overflow-y: scroll; */
}

.highlight{
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    margin-right: 12px;
}

.gallery-highlight{
    position: relative;
    border: 1px solid white;
    border-radius: 16px;
    height: 300px;
    width: 220px;
    margin-top: 16px;
    overflow: hidden;
}

.gallery-highlight img{
    height: 300px;
    width: 220px;
}

.ar{
    position: absolute;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    background-color: #f5f5f5;
    height: 40px;
    width: 40px;
    top: 12px;
    right: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ar:hover{
    cursor: pointer;
    padding: 1px;
    transition: 0.2s;
}

.highlight-description{
    max-width: 360px;
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share{
    display: flex;
    align-items: center;
    color: #ccc;
}

.share:hover{
    cursor: pointer;
}

.valid-address{
    display: flex;
    align-items: center;
}


.amenities{
    display: flex;
    align-items: center;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 16px;
    max-width: 350px;
}

.pad{
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-evenly;
}

.amenity{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.property-description p{
    font-size: 16px;
}

.property-description p span{
    color: #196984;
}

.property-description p span:hover{
    cursor: pointer;
}

.other-listings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 12px;
    padding-right: 12px;
    gap: 20px;
}

.map-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
}

.map-header-vertical{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.map-header-full{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 32px;
}

.mobile-map-header{
    position: relative;
    justify-content: center;
}

.map-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 32%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 400;
}

.mobileToggle{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.mobileToggle p{
    display: flex;
    align-items: center;
}

.list-location{
    display: flex;
    align-items: center;
}

.list-location-mobile{
    display: flex;
    justify-content: center;
}

.map-toggle{
    display: flex;
    align-items: center;
    gap: 8px;
}

/**********************Toggle Map Switch**************************/



.toggle-switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cornflowerblue;
    transition: .4s;
    border-radius: 34px;
}

.slider:before{
    position:absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: aliceblue;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked+ .slider{
    background-color: antiquewhite;
}

.toggle-switch input:checked + .slider::before{
    transform: translateX(26px);
    transition: transform 0.4s;
}




/*****************************************************************/




.list-card{
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 400px;
    width: 250px;
    overflow: hidden;
}

.list-card:hover{
    cursor: pointer;
    border-color: #195984;
}

.list-img-container{
    position: relative;
    border: 1px solid #ccc;
    height: 200px;
    max-width: 250px;
}

.list-img-container img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.list-description-container{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
}


.list-address{
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.list-amenities{
    display: flex;
    align-items: center;
}

.list-amenities p{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #ccc;
}

.location-suggestions{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    padding-left: 12px;
    max-width: 300px;
    position: absolute;
    z-index: 9999;
    justify-content: center;
}

.location-suggestions-hero{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    padding-left: 12px;
    position: absolute;
    z-index:20;
    height: 50px;
    max-width: 300px;
    
}

.auto-box{
    border: 1px solid #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.details{
    margin: 24px;
}

.image-carousel{
    position: relative;
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 16px;
    width: 95vw;
    height: 380px;
    overflow: hidden;
    
}

.details-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.details-ar{
    position: absolute;
    z-index: 3;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 50%;
    top: 24px;
    left: 24px;
    height: 54px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-ar:hover{
    cursor: pointer;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.arrow-backward{
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.arrow-backward:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
}

.arrow-forward{
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.arrow-forward:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
}

.scroller{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 350px;
}

.indicators{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    z-index: 3;
}

.indicator{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.indicator.active{
    background-color: white;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.details-description{
    width: 60vw;
    height: 300px;
    
}

.details-info{
    margin-top: 24px;
    width: 33vw;
    height: 276px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 4px #f1f1f1;
    border-radius: 12px;
}

.details-content{
    margin-left: 12px;
    margin-right: 12px;
}

.details-overview{
    font-weight: bold;
    font-size: small;
    padding-bottom: 12px;
}

.details-list span{
    font-weight: bold;
}

.details-amenities{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    height: 42px;
    background-color: #f1f1f1;

}

.details-amenity{
    display: flex;
    align-items: center;
}

.details-contact{
    display: flex;
    justify-content: center;
}

.details-button{
    position: relative;
    display: flex;
    border: 1px solid #264068;
    border-radius: 12px;
    width: 20vw;
    justify-content: center;
    background-color: #334044;
    color: white;
}

.details-button:hover{
    cursor: pointer;
    background-color: #ffd700;
    border-color: #ffd700;
    transition: 0.8s;
}

.details-button p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.details-address{
    display: flex;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.property-images{
    display: flex;
    justify-content: space-between;
}

.image-box{
    width: 160px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    overflow: hidden;
}

.image-box:hover{
    cursor: pointer;
}

/*.custom-overlay {
    display: inline-block;
    border: 1px solid #264068;
    border-radius: 12px;
    background-color: #264068;
    color: white;
    padding: 4px;
    font-size: 14px;
    z-index: 9999;
  }
  
  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
  }*/
  

.bubble{
    display: flex;
    border: 1px solid #264068;
    border-radius: 12px;
    background-color: #264068;
    color: white;
    width: fit-content;
    height: 30px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: relative;
}

.bubble:hover{
    cursor: pointer;
    background-color: #ffd700;
    border-color: #ffd700;
    color: white;
    transition: 0.5s;
}

.bubble::after{
  content: "";
  position: absolute;
  bottom: -12px;
  left: 24px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #264068 transparent;
  transform: rotate(180deg);
}

.bubble:hover::after{
    border-color: transparent transparent #ffd700 transparent;
    transition: 0.5s;
}

.bubble p{
    text-align: center;
    font-weight:normal;
}



